body {
  color: $grey-dark;

  @media print {
  	font-size: 90%;
  }
}
header {
	margin-bottom: 0.5em;

	.header-nav {
		@include container($breakpoint-1024);
		@media print {
			display: none;
		}

		button {
			@include gallery(3 of 12);
		}
	}
}
footer {}

select {
	@media print {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.page-container {
	@include container($breakpoint-1024);
}

button {
	width: 100%;
	font-weight: 700;
	padding: 5px;
	border: 1px solid $grey-medium;
	text-align: center;
	line-height: 1.2;
}

.left-column {
	@include breakpoint($breakpoint-mobile) {
		@include span(4 of 12)
	}
}
.right-column {
	@include breakpoint($breakpoint-mobile) {
		@include span(8 of 12);
		@include omega;
	}
}

.mobile-only {
	display: block;
	@include breakpoint($breakpoint-mobile) {
		display: none;
	}
}

.desktop-only {
	display: none;
	@include breakpoint($breakpoint-mobile) {
		display: block;
	}
}