body {
  color: $grey-dark;

  @media print {
  	font-size: 90%;
  }
}
header {}
footer {}

.page-container {
	@include container($breakpoint-1024);
}

button {
	width: 100%;
	font-weight: 700;
	padding: 5px;
	border: 1px solid $grey-medium;
	text-align: center;
	line-height: 1.2;
}

.left-column {
	@include breakpoint($breakpoint-mobile) {
		@include span(4 of 12)
	}
}
.right-column {
	@include breakpoint($breakpoint-mobile) {
		@include span(8 of 12);
		@include omega;
	}
}

.mobile-only {
	display: block;
	@include breakpoint($breakpoint-mobile) {
		display: none;
	}
}

.desktop-only {
	display: none;
	@include breakpoint($breakpoint-mobile) {
		display: block;
	}
}