$breakpoint-1024: 1024px;
$breakpoint-800: 800px;

$breakpoint-mobile: (screen $breakpoint-800, print 0px);

$grey-dark: #666;
$grey-medium: #cacaca;
$grey-light: #f2f2f2;

$font-awesome: 'FontAwesome';
